@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="input-group">
    <i class="bi bi-person input-icon"></i>
    <input type="text" id="email" placeholder="Correo electrónico" />
</div>

<div class="input-group">
    <i class="bi bi-lock input-icon"></i>
    <input type="password" id="password" placeholder="Contraseña" />
</div>

<button id="loginButton" class="btn-login">INGRESAR</button>

<div class="text-center">
    <a href="#" class="forgot-link">¿Olvidaste tu contraseña?</a>
</div>

<div class="google-login">
    <form asp-controller="Account" asp-action="GoogleLogin" method="post">
        <button type="submit" class="btn-google">
            <img src="~/img/logo-google.png" alt="Google Logo" />
            Ingresar con Google
        </button>
    </form>
</div>

<dialog id="errorDialog" closedBy="any">
    <div class="dialog-content">
        <p id="errorMessage"></p>
        <button id="closeDialog" class="btn-close">Cerrar</button>
    </div>
</dialog>

@section Scripts {
    <script src="~/js/Home/Home.js"></script>
}
