@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="container mt-4">
        <div class="card shadow-sm">

            <!-- Profile -->
            <div class="card-body">
                <div class="text-center">
                    <i class="fas fa-user fa-2x"></i>
                    <h1 class="h3 mb-3 text-gray-800">Perfil</h1>
                </div>

                <div class="profile-header">
                    <p><strong>Código:</strong> 1111111</p>
                    <p><strong>Nombre:</strong> Ana Mejía Mejía</p>
                    <p><strong>Correo Electrónico:</strong> ana.meji111@ucaldas.edu.co</p>
                </div>
            </div>

            <!-- Tabla de asignaturas -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th>Día</th>
                                <th>Asignatura</th>
                                <th>Aula</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lunes</td>
                                <td>Programación Multimedia y Videojuegos</td>
                                <td>SALA J</td>
                                <td><button class="btn btn-success btn-sm">VER RUTA EN EL MAPA</button></td>
                            </tr>
                            <tr>
                                <td>Martes</td>
                                <td>Gestión del Conocimiento Empresarial</td>
                                <td>G402B</td>
                                <td><button class="btn btn-success btn-sm">VER RUTA EN EL MAPA</button></td>
                            </tr>
                            <tr>
                                <td>Miércoles</td>
                                <td>Estadística y Probabilidad para Negocios</td>
                                <td>G402B</td>
                                <td><button class="btn btn-success btn-sm">VER RUTA EN EL MAPA</button></td>
                            </tr>
                            <tr>
                                <td>Jueves</td>
                                <td>Arquitectura de Software</td>
                                <td>SALA H</td>
                                <td><button class="btn btn-success btn-sm">VER RUTA EN EL MAPA</button></td>
                            </tr>
                            <tr>
                                <td>Viernes</td>
                                <td>Inglés III</td>
                                <td>U110</td>
                                <td><button class="btn btn-success btn-sm">VER RUTA EN EL MAPA</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
