#my_map{
    margin:auto;
    height:60vh;
    width:100%;
}

#carouselUbicacion {
    height: 40vh;
}

    #carouselUbicacion .carousel-inner {
        height: 100%;
    }

    #carouselUbicacion .carousel-item {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        #carouselUbicacion .carousel-item img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
            object-position: center;
            background-color: #f8f9fa;
        }

.carousel-item {
    transition: opacity 0.8s ease-in-out;
}