@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div class="container mt-4">
            <div class="row">
                <!-- Tarjeta: Búsqueda -->
                <div class="col-md-6 d-flex">
                    <div class="card shadow-sm w-100">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div class="text-center">
                                <i class="fas fa-map-marked-alt fa-2x"></i>
                                <h1 class="h3 mb-3">¿Dónde estás ubicado?</h1>
                            </div>

                            <div class="mb-3">
                                <select class="form-control" id="SelecSearcht">
                                    <option value="">Seleccione una opción</option>
                                    <option value="opcion1">BLOQUE A - Edif Administrativo</option>
                                    <option value="opcion2">BLOQUE B & C - Edificio Central</option>
                                    <option value="opcion3">BLOQUE D - Edif del Parque</option>
                                    <option value="opcion4">BLOQUE F & G - Sede Sancancio</option>
                                    <option value="opcion5">BLOQUE U - Sede Micaela</option>
                                    <option value="opcion6">Entrada Principal</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" id="ValueSearch" placeholder="Ingrese valor">
                            </div>

                            <div class="text-center">
                                <button class="btn btn-success btn-sm">BUSCAR</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tarjeta: Ubicación -->
                <div class="col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body text-center">
                            <i class="fas fa-map-pin fa-2x"></i>
                            <h1 class="h3 mb-3 text-gray-800">MAPA</h1>
                            <img src="img/mapa.png" alt="Mapa" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
